permissions:
  contents: write
name: Tarihte Bug端n Otomatik G端ncelleme

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - run: python tarih.py
      - run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add tarih.html
          git diff --cached --quiet || git commit -m "Tarihte Bug端n otomatik g端ncelleme"
          git push
